<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frasergen.dao.CommodityDao">
	<!--  申请单-->
	
	<sql id="key">
		<trim suffixOverrides=",">
			<if test=" purchaseid !=null">
				purchaseid,
			</if>
			<if test=" departmentname !=null">
				departmentname,
			</if>
			<if test=" username !=null">
				username,
			</if>
			<if test=" applytime !=null">
				applytime,
			</if>
			<if test=" goodsname !=null">
				goodsname,
			</if>
			<if test=" brands !=null">
				brands,
			</if>
			<if test=" itemnumber !=null">
				itemnumber,
			</if>
			<if test=" catalogprice !=null">
				catalogprice,
			</if>
			<if test=" actualprice !=null">
				actualprice,
			</if>
			<if test=" number !=null">
				number,
			</if>
			<if test=" price !=null">
				price,
			</if>
			<if test=" unitName !=null">
				unitName,
			</if>
			<if test=" norm !=null">
				norm,
			</if>
			<if test=" normnumber !=null">
				normnumber,
			</if>
			<if test=" function !=null">
				function,
			</if>
			<if test=" remark !=null">
				remark,
			</if>
		</trim>
	</sql>
	
	<sql id="value">
		<trim suffixOverrides=",">
			<if test=" purchaseid !=null">
				#{ purchaseid },
			</if>
			<if test=" departmentname !=null">
				#{ departmentname },
			</if>
			<if test=" username !=null">
				#{ username },
			</if>
			<if test=" applytime !=null">
				#{ applytime },
			</if>
			<if test=" goodsname !=null">
				#{ goodsname },
			</if>
			<if test=" brands !=null">
				#{ brands },
			</if>
			<if test=" itemnumber !=null">
				#{ itemnumber },
			</if>
			<if test=" catalogprice !=null">
				#{ catalogprice },
			</if>
			<if test=" actualprice !=null">
				#{ actualprice },
			</if>
			<if test=" number !=null">
				#{ number },
			</if>
			<if test=" price !=null">
				#{price},
			</if>
			<if test=" unitName !=null">
				#{ unitName },
			</if>
			<if test=" norm !=null">
				#{ norm },
			</if>
			<if test=" normnumber !=null">
				#{ normnumber },
			</if>
			<if test=" function !=null">
				#{ function },
			</if>
			<if test=" remark !=null">
				#{ remark },
			</if>
			
		</trim>
	</sql>
	
	<insert id="addData" parameterType="com.frasergen.entity.Commodity" 
	useGeneratedKeys="true" keyProperty="id" >
		insert into
		Commodity
		<include refid="key"></include>
		values
		<include refid="value"></include>
	</insert>
	
	<update id="updateData"  parameterType="com.frasergen.entity.Commodity">
		update
		Commodity
		<set>
			<trim suffixOverrides=",">
				<if test=" purchaseid !=null">
					purchaseid = #{ purchaseid },
				</if>
				<if test=" departmentname !=null">
					departmentname = #{ departmentname },
				</if>
				<if test=" username !=null">
					username = #{ username },
				</if>
				<if test=" applytime !=null">
					applytime = #{ applytime },
				</if>
				<if test=" goodsname !=null">
					goodsname = #{ goodsname },
				</if>
				<if test=" brands !=null">
					brands =	#{ brands },
				</if>
				<if test=" itemnumber !=null">
					itemnumber = #{ itemnumber },
				</if>
				<if test=" catalogprice !=null">
					catalogprice = #{ catalogprice },
				</if>
				<if test=" number !=null">
					number = #{ number },
				</if>
				<if test=" unitName !=null">
					unitName = #{ unitName },
				</if>
				<if test=" norm !=null">
					norm = #{ norm },
				</if>
				<if test=" normnumber !=null">
					normnumber = #{ normnumber },
				</if>
				<if test=" function !=null">
					function = #{ function },
				</if>
				<if test=" remark !=null">
					remark = #{ remark },
				</if>
			</trim>
		</set>
		where
		id=#{id}
	</update>
	
	<delete id="deleteData" parameterType="int">
		delete 
		from
		Commodity
		where
		id =#{id}
	</delete>
	
	<select id="queryAll" resultType="com.frasergen.entity.Commodity">
		select *
		from
		Commodity
	</select>
	
	<select id="queryById" parameterType="int" resultType="com.frasergen.entity.Commodity">
		select *
		from
		Commodity
		where
		id =#{id}
	</select>
	
	<insert id="addLargeData" >
		insert into
		Commodity
		(purchaseid,departmentname,username,applytime,price,
		goodsname,brands,itemnumber,catalogprice,actualprice,
		number,unitName,normnumber,norm,function,remark)
		values
		<foreach collection="list" item="p" separator=",">
			(#{p.purchaseid },#{p.departmentname },#{p.username },#{p.applytime },#{p.price },
			#{p.goodsname },#{p.brands },#{p.itemnumber },#{p.catalogprice },#{p.actualprice },
			#{p.number },#{p.unitName },#{p.normnumber },#{p.norm },#{p.function },#{p.remark })
		</foreach>
	</insert>
	
</mapper>