<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frasergen.dao.User_categoryDao">
	
	<sql id="key">
		<trim suffixOverrides=",">
			<if test="name!=null">
				name,
			</if>
			<if test="description!=null">
				description,
			</if>
		</trim>
	</sql>
	
	
	<sql id="value">
		<trim suffixOverrides=",">
			<if test="name!=null">
				#{name},
			</if>
			<if test="description!=null">
				#{description},
			</if>
		</trim>
	</sql>
	<insert id="addData" parameterType="com.frasergen.entity.User_category"
	useGeneratedKeys="true" keyProperty="category_id">
		insert into
		User_category
		<include refid="key"></include>
		values
		<include refid="value"></include>
	</insert>
	
	<delete id="deleteData">
		delete from
		User_category
		where
		category_id=#{category_id}
	</delete>
	
	<update id="updateData" parameterType="int">
		update
		user_category
		<set>
			<trim suffixOverrides=",">
				<if test="name!=null">
					name,
				</if>
				<if test="description!=null">
					description,
				</if>
			</trim>
		</set>
		where
		category_id=#{category_id}
	</update>
	
	<select id="queryAll" resultType="com.frasergen.entity.User_category">
		select *  from user_category
	</select>
	
	<select id="" parameterType="int" resultType="com.frasergen.entity.User_category">
		select *  from user_category
		where
		user_category
	</select>
</mapper>